*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html{ 
    font-size: 62.5%; 
    scroll-behavior: smooth;
}

body{ 
    font-size: 1.6rem; 
    background-color: #ffffff; 
    color: #FFFFFF;

}

h1{
    text-align: center;
    padding: 2rem;
    background-color: #E10600; 
    color: #FFFFFF;
}

nav{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    background-color: #000000; 
}

nav a{
    text-decoration: none; 
    color: #FFFFFF;
    padding: 1rem 1rem;
    margin: 1rem auto;
    width: 90%;
}

nav a:hover{
    background-color: #a5b1008a; 
}

.cabecera{
    box-shadow: rgb(51, 51, 51) 0px 5px 20px;
    background-image: url(img/platillo.jpg);
    height: 25rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 12px;
    margin: 2rem auto;
    width: 90%;
}

main{
    width: 90%;
    margin: 2rem auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-bottom: 5rem;
}



footer{ 
    background-color: #1f1f1f;
    color: #CCCCCC;
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
}

section{
    background-color: #a2b344; 
    padding: 2rem;
}

section h3{
    color: #000000;
    padding: 1rem;
    margin-bottom: 1rem;
}

section p{
    color: #000000;
    line-height: 1.5;
}

.contactos{
    background: rgb(83, 83, 83);
    width: 90%;
    max-width: 700px;
    padding: 30px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    box-sizing: border-box;
}
.campo {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
}

.campo label {
    font-weight: 500;
    margin-bottom: 5px;
    color: #000000;
}

input, select, textarea {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
}


input:focus, select:focus, textarea:focus {
    border-color: #26a05d;
    outline: none;
    box-shadow: 0 0 6px rgba(74, 144, 226, 0.4);
}


.radio-group label,
.campo label input[type="checkbox"] {
    margin-right: 10px;
}

textarea {
    resize: vertical;
    min-height: 90px;
}

.btn {
    display: block;
    width: 100%;
    padding: 12px;
    background: #1c722a;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #24bb3d;
    transform: translateY(-2px);
}

.btn:active {
    transform: translateY(0);
}

